/* 购物车 */

.shoplist{
    width: 1050px;
    margin:0 auto;
    font-size:16px;
}
.shop-item{
    width: 100%;
    
    /*border: 1px solid #d1d1d1;*/
    margin: 20px auto;
    text-align: center;
}
.fl{
    float: left;
}
.shop-item input[type="checkbox"]{
    width: 30px;
    height: 30px;
}
.shop-item .fl{
    padding: 10px;
    width: 129px;
    display: block;
    font-style: normal;
    height: 150px;
    border: 1px solid #d1d1d1;
    margin-left: -1px;
}
.shop-item .fl:after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.shop-item .count > span{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #d1d1d1;
    line-height: 30px;
    cursor: pointer;
    margin-left: 5px;
}
#sum{
    width: 1050px;
    margin: 20px auto 100px;
    text-align: right;
    font-size:20px;
}
#sum .count2, #sum .money2{
    color:#fc4c65;
}
label.all{
    margin-left:20px;
}
.shop-item i.delBtn:hover{
    color:#fff;
	background:#fc4c65;
}